{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
 	<main class="">		 
        <div class="cd-index cd-main-content">
    
        <!-- Page Content -->
        <div id="page-content" class=" ">
                   
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                
                    <!-- Hero Section -->
                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle text-white">circuit</div>       
                                    <div class="hero-title text-white">
                                        <span>P</span>
                                        <span>I</span>
                                        <span>S</span>
                                        <span>C</span>
                                        <span>I</span>
                                        <span>N</span>
                                        <span>E</span>
                                        <span></span>
                                        <span>N</span>	
                                        <span>A</span>	
                                        <span>T</span>	
                                        <span>U</span>	
                                        <span>R</span>	
                                        <span>E</span>	
                                        <span>L</span>	
                                        <span>L</span>	
                                        <span>E</span>	
                                    </div>                             
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url({{asset('images/piscine-naturel.jpg')}})"></div>
                        </div>
                    </div>                         
                    <!--/Hero Section -->   
                         
                    
                    <!-- Main Content -->
                    <div id="main-content">
                        <div id="main-page-content">
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top row_padding_bottom text-align-center small"> 
                                

                                <h6 class="has-mask fw-lighter fs-5" data-delay="10">C’est le circuit le plus visité pour sa splendide piscine verdoyante, véritable oasis luxuriante alimentée par une cascade d’eau tiède. Vous évoluez au milieu d'écosystèmes variés allant des falaises à la plaine de Tapia, arbre étonnant aux multiples usages, en passant par les sépultures Bara et Sakalava</h6>
                                
                                {#
                                Le circuit Cascade de Nymphes-Piscine noire et bleue
                                
                                 Ce circuit est le plus populaire du parc, sans doute car il offre un condensé des charmes des lieux. La randonnée, qui s’étend sur 3km, permet de traverser une succession de falaises aux formes fantasmagoriques, de savanes herbeuses, de plaines piquetées de tapias et de tombeaux du peuple Bara. Ne passez pas à côté d’une halte dans la forêt de Mangily afin de faire connaissance avec les lémuriens à queue annelée.

Comme son nom l’indique, ce circuit est émaillé d’oasis comme la Piscine Noire et la Piscine Bleue qui convient à la baignade. Escaladez la cascade des Nymphes aux parois appréciées des lézards et des papillons. Depuis le sommet, vous profiterez d’une vue époustouflante sur le canyon. #}
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row --> 
                            <div class="vc_row  full">
                                                        
                                <figure class="has-animation has-parallax">
                                    <img src="images/projects/ss04.jpg" alt="Image Title">               
                                    <figcaption>Image Caption</figcaption>
                                </figure>
                            
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top small">
                            
                                <h2 class="has-mask">Unrivalled digital production expertise to produce world-class visuals.</h2>
                                
                                <hr>
                                
                                <div class="one_half"></div>
                                
                                <div class="one_half last">
                                	<p class="has-animation">After weeks of planning and countless hours in post-production, my collaboration with Robert Frolich at Filtre Studio on our series is almost complete.</p>
                                    <a href="https://www.behance.net/gallery/68547321/Queen-For-A-Day" target="_blank" class="link has-animation"><span>Read More</span></a>
                                </div>
                                
                                
                                                                                                    
                            </div>
                            <!--/Row -->
                         
                            
                            <!-- Row --> 
                            <div class="vc_row row_padding_top row_padding_left row_padding_right full">
                                
                                <figure class="has-animation has-parallax">
                                    <img src="images/projects/ss01.jpg" alt="Image Title">               
                                    <figcaption>Image Caption</figcaption>
                                </figure>
                            
                            </div>
                            <!--/Row -->
                        
                        
                        </div>
                        <!--/Main Page Content --> 
                        
                        <!-- Project Navigation --> 
                        <div id="project-nav">
                            <div class="next-project-wrap">
                                <div class="next-project-image">
                                    <div class="next-project-image-bg" style="background-image:url(images/vie-ferrata.jpg)"></div>
                                </div>
                                <div class="next-project-title">
                                    <div class="inner">
                                        <div class="main-subtitle has-animation" data-delay="100">
                                            <div class="subtitle-info">Next Project</div>
                                            <div class="subtitle-name">Photography</div>
                                        </div>
                                        <a class="main-title has-animation  hide-ball"   href="{{path('app_p')}}">
                                            <span>D</span>
                                            <span>A</span>
                                            <span>R</span>
                                            <span>K</span>
                                            <span> </span>
                                            <span>P</span>
                                            <span>A</span>
                                            <span>T</span>
                                            <span>H</span>
                                        </a>             
                                    </div>                   
                                </div>
                            </div>
                        </div>      
                        <!--/Project Navigation -->
                                                
                                
                    </div>
                    <!--/Main Content --> 
                </div>
                <!--/Main --> 
                  
        
        	</div>
            <!--/Content Scroll -->
            
            
		</div>    
        <!--/Page Content -->
    
		</div>
	</main>
    
    
    
    
    <div class="cd-cover-layer"></div>
    <div id="magic-cursor">
        <div id="ball">
        	<div id="hold-event"></div>
        	<div id="ball-loader"></div>
        </div>
    </div>
    <div id="clone-image"></div> 
{% endblock %}
