

{% extends 'base.html.twig' %}

{% block title %}Reçus{% endblock %}

{% block body %}

	<main>		 
        
        <div class="cd-index cd-main-content">
    
        <!-- Page Content -->
        <div id="page-content" class="">        
            
             
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">    
                    
                    <!-- Main Content -->
                    <div id="main-content" class="light-content">
                        <!-- Main Page Content -->
                        <div id="main-page-content">	    
                            <br>
                            <br>
                            <br>
                            <div class="container mt-5 vc_row small">
                                <div class="shadow p-5 py-3" style="border-radius:10px">
                                    <div class="-header">
                                        <h5 class="-title">Réçus de Réservation</h5>
                                        <h5 align="right">{{ "now" | date("Y-m-d H:i:s") }}</h5>

                                    </div>
                                    <div class="-body">
                                        <p class="-text">Bonjour,</p>
                                        <p class="-text">Nous vous remercions pour votre réservation à <span id="hotel"></span>. Voici les détails de votre réservation :</p>
                                        <ul class="list-group">
                                        <li class="list-group-item">Label: {{ paymentLabel }}</li> 
                                        <li class="list-group-item">Option de payement : {{ selectLabel }}</li>
                                        <li class="list-group-item">Montant total : <span id="montant">{{ totalPrice }}</span>$</li>  
                                        <li class="list-group-item">Numéro de carte de crédit : 4242 4242 4242 4242</li>
                                        </ul>
                                        <p class="-text">Votre réservation est confirmée pour les dates demandées. Veuillez noter que votre carte de crédit sera débitée du montant total à l'arrivée.</p>
                                        <p class="-text">Si vous avez des questions ou des demandes spéciales, n'hésitez pas à nous contacter à <span id="email"></span> ou par téléphone au <span id="telephone"></span>.</p>
                                        <p class="-text">Nous sommes impatients de vous accueillir à <b>Isalo Rock Lodge.</b></p>
                                    </div> 
    

                                </div>
                            </div>   
                        </div>
                        <!--/Main Page Content -->              
                                
                    </div>  
                    <br>
                    <br>
                    <br>
                    <!--/Main Content -->  
                </div>
                <!--/Main -->  
        
        	</div>
            <!--/Content Scroll --> 
            
            
		</div>    
        <!--/Page Content -->
    
		</div>
        
	</main>
     
{% endblock %}
