{% extends 'base.html.twig' %}

{% block title %}Faune{% endblock %}

{% block body %} 
	<main>		
        <!-- Preloader -->
        <div class="preloader-wrap">
            <div class="outer">
                <div class="inner">
                    <div class="percentage" id="precent"></div>
                    <div class="trackbar">
                        <div class="loadbar"></div>
                    </div> 
                </div>
            </div>
        </div>
        <!--/Preloader -->    
        
        <div class="cd-index cd-main-content">
    
        <!-- Page Content -->
        <div id="page-content" class="">       
             
            
            {% include 'layouts/navbar.html.twig' %}
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                

                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle text-white">{% trans %}du parc national Isalo{% endtrans %}</div>    
                                    <div class="hero-title text-white"> {% trans %}
                                        <span>L</span>
                                        <span>E</span>
                                        <span>S</span>
                                        <span> </span>
                                        <span>F</span>
                                        <span>A</span>
                                        <span>U</span>
                                        <span>N</span>
                                        <span>E</span>	
                                        <span>S</span>{% endtrans %}
                                    </div>                                
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url({{asset('images/faune.jpg')}})"></div>
                        </div>
                    </div>     
                         
                    
                    <!-- Main Content -->
                    <div id="main-content"  >
                        <!-- Main Page Content -->
                        <div id="main-page-content">	 
                            <div class="vc_row row_padding_top small text-align-center"> 
                                <p class="has-animation fs-5" data-delay="10">{% trans %}Les animaux de l’Isalo sont typiques du climat, de la végétation et de la géomorphologie du parc. Ce sont, pour une très forte majorité, des espèces endémiques.  {% endtrans %}<b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);"> {% trans %}77 espèces d’oiseaux{% endtrans %} </b>{% trans %}vivent à Isalo dont le merle de Benson ou Pseudocosyphus bensoni, une espèce endémique de Madagascar qui est très protégée.{% endtrans %}</p>
                                <p class="has-animation fs-5" data-delay="100">{% trans %}On y trouve aussi {% endtrans %} <b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">{% trans %} 14 espèces de lémuriens{% endtrans %}</b> {% trans %}diurnes et nocturnes dont 7 introduites et 7 endémiques de la region. Reptiles, amphibiens, carnivores, insectivores et rongeurs complètent la liste.{% endtrans %}</p>
                            </div>
                            <div class="vc_row row_padding_top small text-align-center">  
                                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                                    <div class="col-10 col-sm-8 col-lg-6 has-animation hide-ball " data-delai="50">
                                        <img src="https://calphotos.berkeley.edu/imgs/512x768/1111_1111/1111/8784.jpeg" class="d-block mx-lg-auto shadow img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                                    </div>
                                    <div class="col-lg-6"> 
                                        <h3 class="has-mask ">Tular golden frog</h3>
                                        <p class="lead has-animation" data-delay="100"><i><b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">{% trans %}Grenouille{% endtrans %}</b></i>{% trans %} à cuisse de couleur bleue, dos jaune, poitrine pointée et noir, on la trouve aux abords de la cascade des nymphes en saison des pluies.{% endtrans %}</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row small text-align-center">  
                                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                                    <div class="col-10 col-sm-8 col-lg-6 has-animation hide-ball" data-delai="50">
                                        <img src="https://media.istockphoto.com/id/451174277/fr/photo/boa-dumerili.jpg?s=612x612&w=0&k=20&c=iHm-OeEW7XcGp1bS62mAOkj940v9jhKlMXcVc9Nydds=" class="d-block mx-lg-auto shadow img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                                    </div>
                                    <div class="col-lg-6"> 
                                        <h3 class="has-mask">Boa de Dumeril</h3>
                                        <p class="lead has-animation" data-delay="100"><i><b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">{% trans %}Serpents{% endtrans %}<b></i>{% trans %} que l’on rencontre surtout dans le Sud et le Sud Ouest de Madagascar, et exceptionnellement à Andranolava, non loin de Mahajanga. Dans l’Isalo, vous trouverez ce boa dans le circuit Namaza en saison des pluies.{% endtrans %}</p> 
                                    </div>
                                </div>
                            </div>  
                            <div class="row mb-5">
                                <div class="col-md-4 p-2 themed-grid-col has-animation" data-delay="0">
                                    <div class="card card-box shadow-sm" style="height:360px">

                                        <div class="h-75" style="overflow:hidden">
                                            <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/1b/59/3b/fe/hotel-relais-de-la-reine.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="has-mask">Merle de Benson</h5>
                                            <p class="card-text has-animation" data-delay="0">
                                                {% trans %}Espèce{% endtrans %} <span class="fw-bold">{% trans %}endémique{% endtrans %}</span>{% trans %} à Madagascar {% endtrans %}<br>{% trans %}Tous les circuits {% endtrans %}<br>{% trans %} Toute l’année{% endtrans %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 p-2 themed-grid-col has-animation" data-delay="20">
                                    <div class="card card-box shadow-sm" style="height:360px">
                                        <div class="h-75" style="overflow:hidden">
                                            <img class="card-img-top" src="https://inaturalist-open-data.s3.amazonaws.com/photos/48346730/large.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="has-mask">Perinet night snake</h5>
                                            <p class="card-text has-animation" data-delay="50">
                                                {% trans %}Circuit Namaza{% endtrans %}<br><br>{% trans %}Saison de pluie{% endtrans %} 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-2 themed-grid-col has-animation" data-delay="70">
                                    <div class="card card-box shadow-sm" style="height:360px">
                                        <div class="h-75" style="overflow:hidden">
                                            <img style="position:relative; top:-100px" class="card-img-top" src="https://s3.amazonaws.com/media.jungledragon.com/images/2/36760_small.jpg?AWSAccessKeyId=05GMT0V3GWVNE7GGM1R2&Expires=1712793610&Signature=sbpB6LJ6tKW6MMPzvE6DJcqYeR4%3D" alt="Card image cap"> 
                                        </div>
                                        <div class="card-body">
                                            <h5 class="has-mask">Flatid Bug nymphus</h5>
                                            <p class="card-text has-animation" data-delay="100">
                                                {% trans %}Insecte , il peut être pris pour une fleur<br>Tous les circuits en forêt{% endtrans %}<br>{% trans %}Saison de pluie{% endtrans %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {# <div class="col-md-3 p-2 themed-grid-col has-animation" data-delay="120">
                                    <div class="card card-box shadow-sm">
                                        <img class="card-img-top" src="images/faune.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="has-mask">Some text</h5>
                                            <p class="card-text has-animation" data-delay="150">
                                                Some quick example text to build on the card title and make
                                                up the bulk of the card's content. Some quick example text
                                                to build on the card title and make up the bulk of the
                                                card's content.
                                            </p>
                                        </div>
                                    </div>
                                </div> #}
                            </div> 

                        </div> 
                        
                        {# {% include 'layouts/footer.html.twig' %}    #}
                    </div>
                    <!--/Main Content --> 



	 
                    <div class="vc_row row_padding_top small text-align-center"> 
                        <p class="has-animation fs-5" data-delay="10">{% trans %}Voir egalement{% endtrans %}</p>
                    </div>
                    <div class="vc_row small mb-5 justify-content-center row row-cols-1 row-cols-sm-2 g-4" style="gap:20px">
                        <a href="{{path('app_paysage')}}" class="d-flex page-manaraka p-3 shadow-sm btn col-3 align-items-center flex-column gap-2">
                                <div class="feature-icon-small d-inline-flex align-items-center text-bg-primary bg-gradient fs-4 rounded-3">
                                    <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection"></use>
                                    </svg>
                                </div>
                                <h4 class="fw-semibold mb-0">{% trans %}Les paysages{% endtrans %}</h4>  
                        </a>
                        <a href="{{path('app_flore')}}" class="d-flex page-manaraka p-3 shadow-sm btn col-3 align-items-center flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#collection"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">{% trans %}Les flores{% endtrans %}</h4>  
                        </a> 
                    </div>    
                    <br>
                    <br>
                    <br>
                    {% include 'layouts/footer.html.twig' %}   
                </div>
                <!--/Main -->  
        
        	</div>
            <!--/Content Scroll -->
             
            
		</div>    
        <!--/Page Content -->
    
		</div>
	</main>
    
    <div class="cd-cover-layer"></div>
    <div id="magic-cursor" class="light-content">
        <div id="ball">
        	<div id="hold-event"></div>
        	<div id="ball-loader"></div>
        </div>
    </div>
    <div id="clone-image"></div> 
{% endblock %}
