{% extends 'base.html.twig' %}

{% block title %}Flore{% endblock %}

{% block body %}

	<main>		
        <!-- Preloader -->
        <div class="preloader-wrap">
            <div class="outer">
                <div class="inner">
                    <div class="percentage" id="precent"></div>
                    <div class="trackbar">
                        <div class="loadbar"></div>
                    </div> 
                </div>
            </div>
        </div>
        <!--/Preloader -->    
        
        <div class="cd-index cd-main-content">
    
        <!-- Page Content -->
        <div id="page-content" class="">       
            
            
            <!-- Sidebar Overlay -->
            <div id="sidebar-overlay">                
                <div id="close-sidebar"></div>
                <div class="outer">
                    <div class="inner">    
                        <ul id="filters">
                            <li class="sidebar-timeline link"><a id="all" href="#" data-filter="*" data-hover="ALL" class="active ">ALL</a></li>
                            <li class="sidebar-timeline link"><a href="#" data-filter=".photo" data-hover="PHOTO" class="">PHOTO</a></li>                                                       
                            <li class="sidebar-timeline link"><a href="#" data-filter=".architecture" data-hover="ARCHITECTURE" class="">ARCHITECTURE</a></li> 
                            <li class="sidebar-timeline link"><a href="#" data-filter=".design" data-hover="DESIGN" class="">DESIGN</a></li>
                            <li class="sidebar-timeline link"><a href="#" data-filter=".video" data-hover="VIDEO" class="">VIDEO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Sidebar Overlay -->
            
            
            {% include 'layouts/navbar.html.twig' %}
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                

                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle text-white">du parc national Isalo</div>    
                                    <div class="hero-title text-white">
                                        <span>L</span>
                                        <span>E</span>
                                        <span>S</span>
                                        <span> </span>
                                        <span>F</span>
                                        <span>L</span>
                                        <span>O</span>
                                        <span>R</span>
                                        <span>E</span>	
                                        <span>S</span>	
                                    </div>                                
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url(images/flore.jpg)"></div>
                        </div>
                    </div>     
                         
                    
                    <!-- Main Content -->
                    <div id="main-content" class="light-content">
                        <!-- Main Page Content -->
                        <div id="main-page-content">	 
                            <div class="vc_row row_padding_top small text-align-center"> 
                                <p class="has-animation fs-5" data-delay="10">La flore du parc national Isalo est également unique au monde,il compte plus de <i><b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">400 espèces floristiques.</b></i>
 Beaucoup d’entre elles sont endémiques de Madagascar comme le Pachypodium rosulatum, famille des Apocynaceae, le Catharantus ovalis qui est une plante médicinale que l’on ne trouve nulle part ailleurs dans le monde.</p>
                                <p class="has-animation fs-5" data-delay="100">La savane de l’Isalo est colonisée par des palmiers typiques de cette région : le Bismarkia nobilis, « Satrana » qui résiste au feu.</p>
                            </div> 
                            <div class="vc_row row_padding_top small text-align-center">   
                                <h3 class="has-mask" data-delai="200">Les meilleurs flore de l’Isalo</h3> 
                                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                                    <div class="col-10 col-sm-8 col-lg-6 has-animation hide-ball " data-delai="50">
                                        <img style="border-radius:10px" src="images/faune.jpg" class="d-block mx-lg-auto shadow img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                                    </div>
                                    <div class="col-lg-6"> 
                                        <h5 class="has-mask ">Pachypodium</h5>
                                        <p class="lead has-animation" data-delay="100">Le Vontaka ou Pachypodium rosulatum de la famille des Apocynaceae. Endémique de Madagascar, le Vontaka vit sur les rochers du circuit de la Piscine naturelle toute l’année.</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row small text-align-center">  
                                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                                    <div class="col-10 col-sm-8 col-lg-6 has-animation hide-ball" data-delai="50">
                                        <img style="border-radius:10px" src="{{asset('images/vtt.jpg')}}" class="d-block mx-lg-auto shadow img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                                    </div>
                                    <div class="col-lg-6"> 
                                        <h5 class="has-mask ">Aloes isaloensis</h5>
                                        <p class="lead has-animation" data-delay="100">L’Aloes isaloensis de la famille des Aloaceae est un aloès endémique malgache. Il pousse sur les rochers de la piscine naturelle toute l’année.</p> 
                                    </div>
                                </div>
                            </div>  
                            <div class="vc_row small text-align-center">  
                                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                                    <div class="col-10 col-sm-8 col-lg-6 has-animation hide-ball" data-delai="50">
                                        <img style="border-radius:10px" src="images/faune.jpg" class="d-block mx-lg-auto shadow img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                                    </div>
                                    <div class="col-lg-6"> 
                                        <h5 class="has-mask ">Le Bismarkia nobilis</h5>
                                        <p class="lead has-animation" data-delay="100">Le Bismarkia nobilis, de son nom malgache <i><b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">Satrana </b></i>. C’est un palmier typique de l’Isalo qui a la particularité de<i><b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">résister au feu</b></i> . Ses branches sont utilisées par les villageois en sparterie, industrie de l’alfa, une fibre végétale dure.</p> 
                                    </div>
                                </div>
                            </div>    

                        </div>
                        <!--/Main Page Content -->              
                                
                    </div> 
                    <div class="vc_row row_padding_top small text-align-center"> 
                        <p class="has-animation fs-5" data-delay="10">Voir egalement</p>
                    </div>
                    <div class="vc_row small mb-5 justify-content-center row row-cols-1 row-cols-sm-2 g-4" style="gap:20px">
                        <a href="{{path('app_paysage')}}" class="d-flex page-manaraka p-3 shadow-sm btn col-3 align-items-center flex-column gap-2">
                                <div class="feature-icon-small d-inline-flex align-items-center text-bg-primary bg-gradient fs-4 rounded-3">
                                    <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection"></use>
                                    </svg>
                                </div>
                                <h4 class="fw-semibold mb-0">Les paysages</h4>  
                        </a>
                        <a href="{{path('app_faune')}}" class="d-flex page-manaraka p-3 shadow-sm btn col-3 align-items-center flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#collection"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">Les faune</h4>  
                        </a> 
                    </div>    
                    <br>
                    <br>
                    <br>
                    <!--/Main Content --> 
                    {% include 'layouts/footer.html.twig' %}   
                </div>
                <!--/Main -->  
        
        	</div>
            <!--/Content Scroll --> 
            
            
		</div>    
        <!--/Page Content -->
    
		</div>
	</main>
    
    <div class="cd-cover-layer"></div>
    <div id="magic-cursor" class="light-content">
        <div id="ball">
        	<div id="hold-event"></div>
        	<div id="ball-loader"></div>
        </div>
    </div>
    <div id="clone-image"></div> 
{% endblock %}
