{% extends 'base.html.twig' %}
{% block style%} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Inclure le fichier JavaScript de Flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- Inclure le fichier de traduction en français -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
{% endblock %}

{% block title %}Hebergement{% endblock %} 
{% block body %}

{% include "layouts/navbar.html.twig" %}
	<main>		
        <!-- Preloader -->
        <div class="preloader-wrap">
            <div class="outer">
                <div class="inner">
                    <div class="percentage" id="precent"></div>
                    <div class="trackbar">
                        <div class="loadbar"></div>
                    </div> 
                </div>
            </div>
        </div>
        <!--/Preloader -->    
        
        <div class="cd-index cd-main-content">
    
        <!-- Page Content -->
        <div id="page-content" class="">       
            
             
            
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main" class=""> 
                   
                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle text-white">Hôtel</div>    
                                    <div class="hero-title text-white">
                                        <span>I</span>
                                        <span>S</span>
                                        <span>A</span>
                                        <span>L</span>
                                        <span>O</span>
                                        <span></span>
                                        <span>R</span>
                                        <span>O</span>
                                        <span>C</span>	
                                        <span>K</span>	
                                        <span></span>	
                                        <span>L</span>	
                                        <span>O</span>	
                                        <span>D</span>	
                                        <span>G</span>	
                                        <span>E</span>	
                                    </div>                                
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url({{asset('images/isalo-rock-lodge-madagascar-timbuktu-travel.avif')}})"></div>
                        </div>
                    </div>    
                    <!-- Main Content -->
                    <div id="main-content"  >
                        <!-- Main Page Content -->
                        <div id="main-page-content">	 
                            <div class="vc_row row_padding_top small text-align-center"> 
                                <p class="has-animation fs-5" data-delay="10">Situé dans les montagnes de grès, l'Isalo Rock Lodge surplombe le parc national d'Isalo. Il possède une piscine extérieure et un restaurant.</p>
                            </div>       
                            <div class="container shadow-sm p-4 pt-2 mb-5 rounded-3">
                                <h3 class="mx-5">Infos pratiques</h3>
                                <div class="row">
                                    <div class="col-12 p-4 col-lg-7">
                                        <div>
                                            <p>Vous êtes à la recherche d'un cadre de luxe et d'une gamme de services conçus pour sublimer votre séjour à Isalo ? Alors l'Isalo Rock Lodge vous apportera entière satisfaction.</p>
                                            <p>
                                            Vous profiterez de chambres relaxantes équipées d'une climatisation et d'un minibar, et pourrez rester connecté pendant votre séjour car l'Isalo Rock Lodge propose un wi-fi gratuit. </p>  
                                            <p>
                                            <p>
                                            L'hôtel dispose d'une conciergerie et d'un service de chambre. De plus, l'Isalo Rock Lodge est doté d'une piscine et d'un petit déjeuner inclus, offrant un endroit plaisant pour se reposer après une journée bien remplie. Pour les clients avec véhicules, un parking gratuit est disponible.</p> 
                                            <p> Si vous êtes en manque d'activités, Isalo Window vous fera passer un agréable moment.  
                                            </p> 
                                            <p>Profitez bien de votre séjour à Isalo !</p>
                                        </div> 
                                        <div> 
                                            <p class="fw-bold" style="font-family:GraphikBold">Emplacement</p>
                                            <p>Route Nationale 7 Lot II ZIE B.P. 04 Sandstone Mountains, Isalo 313 Madagascar</p>
                                            <div class=""> 
                                                <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7365.607014736675!2d45.3529434!3d-22.6238116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21d8c6161c6c8cbf%3A0xda2a7078cc8635ba!2sIsalo%20Rock%20Lodge!5e0!3m2!1sfr!2smg!4v1713762011263!5m2!1sfr!2smg" width="600" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-12 p-4 col-lg-5">
                                    <div>
                                        <p class="fw-bold" style="font-family:GraphikBold">Équipements de l'établissement</p>
                                        <div>
                                            <ul class="row list-unstyled">
                                                <div class="col-6">
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path d="M9 7.52h3.4c1.83 0 3.14 1 3.14 2.87s-1.31 2.87-3.14 2.87h-1.51v3.26H9v-9zm3.33 4.06c.83 0 1.31-.41 1.31-1.19s-.48-1.2-1.31-1.2h-1.44v2.39h1.44z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.89 13.26h1.51c1.83 0 3.14-1 3.14-2.87s-1.31-2.87-3.14-2.87H9v9h1.89v-3.26zm0-1.68V9.19h1.44c.83 0 1.31.42 1.31 1.2s-.48 1.19-1.31 1.19h-1.44z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.75c-.69 0-1.25.56-1.25 1.25v11.99c0 .69.56 1.25 1.25 1.25h11.99c.69 0 1.25-.56 1.25-1.25V6c0-.69-.56-1.25-1.25-1.25H6zM3.25 6A2.75 2.75 0 016 3.25h11.99A2.75 2.75 0 0120.74 6v11.99a2.75 2.75 0 01-2.75 2.75H6a2.75 2.75 0 01-2.75-2.75V6z"></path></svg></span>Parking gratuit</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.977 4.752c-.093.153-.134.37-.134.514v.883h4.575v-.883c0-.336.079-.84.348-1.288.293-.487.819-.904 1.607-.904.792 0 1.315.422 1.598.921.257.454.318.963.306 1.298l-1.5-.053a1.054 1.054 0 00-.111-.505.32.32 0 00-.104-.119.34.34 0 00-.19-.042.366.366 0 00-.2.046.377.377 0 00-.12.132c-.093.153-.134.37-.134.514v9.487h-1.5V13.65H9.843v1.104h-1.5V5.266c0-.336.08-.84.348-1.288a1.815 1.815 0 011.607-.904c.792 0 1.316.422 1.598.921.257.454.318.963.306 1.298l-1.499-.053a1.054 1.054 0 00-.112-.505.32.32 0 00-.103-.119.34.34 0 00-.19-.042.366.366 0 00-.2.046.376.376 0 00-.121.132zm-.134 7.397h4.575v-1.5H9.843v1.5zm0-3h4.575v-1.5H9.843v1.5zm-3.92 7.064c.283.159.479.212.607.212h.116c.586 0 .781 0 .958-.036.166-.034.327-.104.867-.376.181-.092.374-.217.609-.377l.124-.085c.194-.133.414-.284.641-.422.566-.345 1.274-.676 2.155-.676.878 0 1.572.321 2.135.664a14.153 14.153 0 01.763.506c.235.16.436.29.633.391l.016.008c.513.261.637.324.796.36.177.04.403.043 1.127.043.164 0 .377-.06.656-.214A6.81 6.81 0 0019 15.6l.173-.137c.247-.196.515-.41.766-.576.291-.194.71-.434 1.178-.434v1.5h-.002c-.018.005-.12.032-.345.182-.193.129-.396.29-.637.482l-.205.162a8.218 8.218 0 01-1.077.745c-.39.216-.862.401-1.381.401h-.093c-.593 0-1 0-1.359-.079-.354-.079-.658-.234-1.036-.428l-.132-.067a7.388 7.388 0 01-.796-.488 75.53 75.53 0 01-.15-.103c-.191-.13-.365-.25-.55-.362-.448-.273-.865-.445-1.354-.445-.487 0-.916.177-1.374.457-.19.115-.368.238-.56.37-.047.03-.093.063-.141.096-.237.16-.501.336-.779.476l-.006.003c-.489.247-.836.422-1.234.504-.336.069-.7.068-1.184.067H6.53c-.502 0-.964-.193-1.34-.405a9.147 9.147 0 01-1.072-.738l-.163-.126c-.266-.205-.491-.38-.702-.516-.244-.158-.353-.184-.368-.188h-.002v-1.5c.463 0 .886.236 1.184.428.27.174.557.397.821.602l.145.112c.32.247.613.463.89.618zm0 3c.283.159.479.212.607.212h.116c.586 0 .781 0 .958-.036.166-.034.327-.104.867-.376.181-.092.374-.217.609-.377l.124-.085c.194-.133.414-.284.641-.422.566-.345 1.274-.676 2.155-.676.878 0 1.572.321 2.135.664a14.153 14.153 0 01.763.506c.235.16.436.29.633.391l.016.008c.513.261.637.324.796.36.177.04.403.043 1.127.043.164 0 .377-.06.656-.214A6.81 6.81 0 0019 18.6l.173-.137c.247-.196.515-.41.766-.576.291-.194.71-.434 1.178-.434v1.5h-.002c-.018.005-.12.032-.345.182-.193.129-.396.29-.637.482l-.205.162a8.218 8.218 0 01-1.077.745c-.39.216-.862.401-1.381.401h-.093c-.593 0-1 0-1.359-.079-.354-.079-.658-.234-1.036-.428l-.132-.067a7.388 7.388 0 01-.796-.488 75.53 75.53 0 01-.15-.103c-.191-.13-.365-.25-.55-.362-.448-.273-.865-.445-1.354-.445-.487 0-.916.177-1.374.457-.19.115-.368.238-.56.37-.047.03-.093.063-.141.096-.237.16-.501.336-.779.476l-.006.003c-.489.247-.836.422-1.234.504-.336.069-.7.068-1.184.067H6.53c-.502 0-.964-.193-1.34-.405a9.135 9.135 0 01-1.072-.738 65.3 65.3 0 01-.163-.126c-.266-.205-.491-.38-.702-.516-.244-.158-.353-.184-.368-.188h-.002v-1.5c.463 0 .886.236 1.184.428.27.174.557.397.821.602l.145.112c.32.247.613.463.89.618z"></path></svg></span>Piscine</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 5.25h19.5v4.454l-.536.16a2.752 2.752 0 000 5.272l.536.16v4.454H2.25v-4.454l.536-.16a2.752 2.752 0 000-5.272l-.536-.16V5.25zm1.5 1.5v1.876a4.25 4.25 0 010 7.748v1.876h16.5v-1.876a4.25 4.25 0 010-7.748V6.75H3.75z"></path><path d="M12 15a1 1 0 110 2 1 1 0 010-2zM12 11.5a1 1 0 110 2 1 1 0 010-2zM12 8a1 1 0 110 2 1 1 0 010-2z"></path></svg></span>Billard</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.207 5.209a.523.523 0 100-1.047.523.523 0 000 1.047zm0 1.5a2.023 2.023 0 100-4.047 2.023 2.023 0 000 4.047zm-1.416 3.492v-.758c.271-.332.672-.649 1.107-.745.393-.087.984-.032 1.725.777v.726H10.79zm4.16-1.481c-1.085-1.32-2.273-1.73-3.377-1.487-1.017.225-1.767.968-2.155 1.544l-.128.19V11.7h5.832V8.928l-.171-.207zm-5.624 3.704h5.758l.36 2.05c.447-.512 1.117-1.039 1.96-1.225 1.154-.256 2.403.172 3.55 1.566l.172.208v2.889H16.05l.603 3.426H7.616l.676-3.524H2.873v-2.848l.128-.19c.41-.608 1.2-1.389 2.266-1.625 1.155-.255 2.404.172 3.552 1.567l.055.067.453-2.36zm1.24 1.5L9.43 19.838h5.436l-1.041-5.914h-3.26zm5.944 1.614v.874h3.116v-.841c-.805-.886-1.456-.956-1.898-.858-.484.107-.925.46-1.218.825zM4.373 15.44v.874H7.49v-.84c-.805-.887-1.457-.956-1.899-.858-.483.107-.924.459-1.218.824zm14.22-4.543a.523.523 0 11-1.047 0 .523.523 0 011.047 0zm1.5 0a2.023 2.023 0 11-4.047 0 2.023 2.023 0 014.047 0zM6.455 10.8a.523.523 0 11-1.047 0 .523.523 0 011.047 0zm1.5 0a2.023 2.023 0 11-4.047 0 2.023 2.023 0 014.047 0z"></path></svg></span>Salle de réception</li> 
                                                </div> 
                                                <div class="col-6">
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.18 8.28a13.75 13.75 0 0119.44 0l-1.06 1.06a12.25 12.25 0 00-17.32 0L2.18 8.28zm2.83 2.83a9.75 9.75 0 0113.78 0l-1.06 1.06a8.25 8.25 0 00-11.66 0l-1.06-1.06zm4.686 1.57a5.751 5.751 0 016.275 1.25l-1.062 1.06a4.251 4.251 0 00-6.018 0l-1.062-1.06a5.752 5.752 0 011.867-1.25z"></path><path d="M11.91 19.05a1.52 1.52 0 100-3.04 1.52 1.52 0 000 3.04z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.91 18.05a.52.52 0 100-1.04.52.52 0 000 1.04zm1.52-.52a1.52 1.52 0 11-3.04 0 1.52 1.52 0 013.04 0z"></path></svg></span>Internet haut débit gratuit (Wi-Fi)</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.958 3.627c1.095-.226 2.48-.377 4.151-.377 1.672 0 3.057.151 4.152.377.92.19 1.652.436 2.184.702 1.075.538 2.813 1.674 3.392 3.99.08.318.222 1.178.058 2.121-.166.963-.67 2.091-1.95 2.73a6.599 6.599 0 01-1.169.466l-.801 5.611a1.75 1.75 0 01-1.733 1.503H7.977c-.871 0-1.61-.64-1.733-1.503l-.801-5.61a6.597 6.597 0 01-1.169-.466c-1.281-.64-1.783-1.774-1.95-2.737a5.566 5.566 0 01.058-2.116C2.96 6.003 4.698 4.867 5.774 4.33c.532-.266 1.265-.512 2.184-.702zM6.974 13.75h4.386v5.5H7.977a.25.25 0 01-.248-.215l-.755-5.285zm5.886 5.5h3.382a.25.25 0 00.248-.215l.755-5.285h-4.386v5.5zm-4-14.263V8h-1.5V5.321a5.822 5.822 0 00-.915.35c-.925.462-2.187 1.326-2.608 3.01a4.095 4.095 0 00-.034 1.499c.115.665.423 1.29 1.142 1.65.455.227.779.332.971.38.097.024.16.034.193.038l.018.002h11.965l.018-.002c.032-.004.096-.014.193-.038.192-.048.516-.153.971-.38.72-.361 1.029-.983 1.143-1.645a4.08 4.08 0 00-.035-1.503c-.421-1.685-1.684-2.549-2.608-3.011a5.818 5.818 0 00-.915-.35V8h-1.5V4.987a19.427 19.427 0 00-2.5-.226V8h-1.5V4.761c-.958.029-1.791.111-2.5.226z"></path></svg></span>Petit-déjeuner inclus</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.116 7.727l1.273.978 2.551.525.125.086c.873.6 1.04 1.63.763 2.42-.282.805-1.076 1.494-2.175 1.335l-.052-.007-2.744-.794v.523l3.628 6.89.018.13c.154 1.115-.612 1.841-1.34 2.122-.37.143-.786.2-1.182.145-.395-.056-.826-.237-1.121-.627l-.038-.05-1.95-3.73-.59 1.56-3.296 2.66-.115.043c-1.092.403-1.99-.167-2.423-.861a2.246 2.246 0 01-.347-1.16c-.003-.412.129-.874.5-1.217l.01-.01 2.23-1.91 1.515-3.939v-1.088l-.344.126v1.654l-.098.173c-.512.9-1.383 1.137-2.117 1.033a2.546 2.546 0 01-.963-.347c-.268-.164-.536-.4-.698-.708l-.087-.164V9.59l.26-.224c.38-.329.969-.653 1.643-.972A39.842 39.842 0 019.433 7.35c1.505-.587 3.335-.713 4.683.377zm-.938 1.17c-.746-.606-1.925-.647-3.2-.15-.932.363-1.74.699-2.385 1.003a9.203 9.203 0 00-1.044.56v2.755c.02.014.042.03.069.046.111.069.25.121.39.141.137.02.252.004.34-.034a.473.473 0 00.164-.119v-2.27l3.345-1.223v3.512L9.104 17.67 6.618 19.8l-.004.01a.272.272 0 00-.013.096.75.75 0 00.12.374.64.64 0 00.278.256.413.413 0 00.254.022l2.77-2.236 1.63-4.307 3.421 6.545c.02.011.055.026.117.035a.898.898 0 00.432-.06.73.73 0 00.328-.232.348.348 0 00.07-.182l-3.664-6.957V9.522l1.936 1.312 2.616.757c.244.02.42-.112.504-.352.08-.227.04-.453-.106-.608l-2.558-.526-1.563-1.2-.008-.007zM11.566 5.045a.823.823 0 100-1.646.823.823 0 000 1.646zm0 1.5a2.323 2.323 0 100-4.646 2.323 2.323 0 000 4.646z"></path></svg></span>Visites pédestres</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.207 5.209a.523.523 0 100-1.047.523.523 0 000 1.047zm0 1.5a2.023 2.023 0 100-4.047 2.023 2.023 0 000 4.047zm-1.416 3.492v-.758c.271-.332.672-.649 1.107-.745.393-.087.984-.032 1.725.777v.726H10.79zm4.16-1.481c-1.085-1.32-2.273-1.73-3.377-1.487-1.017.225-1.767.968-2.155 1.544l-.128.19V11.7h5.832V8.928l-.171-.207zm-5.624 3.704h5.758l.36 2.05c.447-.512 1.117-1.039 1.96-1.225 1.154-.256 2.403.172 3.55 1.566l.172.208v2.889H16.05l.603 3.426H7.616l.676-3.524H2.873v-2.848l.128-.19c.41-.608 1.2-1.389 2.266-1.625 1.155-.255 2.404.172 3.552 1.567l.055.067.453-2.36zm1.24 1.5L9.43 19.838h5.436l-1.041-5.914h-3.26zm5.944 1.614v.874h3.116v-.841c-.805-.886-1.456-.956-1.898-.858-.484.107-.925.46-1.218.825zM4.373 15.44v.874H7.49v-.84c-.805-.887-1.457-.956-1.899-.858-.483.107-.924.459-1.218.824zm14.22-4.543a.523.523 0 11-1.047 0 .523.523 0 011.047 0zm1.5 0a2.023 2.023 0 11-4.047 0 2.023 2.023 0 014.047 0zM6.455 10.8a.523.523 0 11-1.047 0 .523.523 0 011.047 0zm1.5 0a2.023 2.023 0 11-4.047 0 2.023 2.023 0 014.047 0z"></path></svg></span>Salles de réunion</li>  
                                                </div>
                                            </ul>
                                        </div> 
                                    </div>
                                    <div>
                                        <p class="fw-bold" style="font-family:GraphikBold">Équipements de la chambre</p>
                                        <div>
                                            <ul class="row list-unstyled">
                                                <div class="col-6">
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.252 5.405c0-.47.38-.85.85-.85h15.624c.47 0 .85.38.85.85v6.649c.68.562 1.22 1.393 1.22 2.544v4.847h-1.5V17.77H3.704v1.674h-1.5V14.57c.025-.654.304-1.588 1.05-2.35V5.404zm2.635 5.587a6.6 6.6 0 01.836-.052h3.896c-.502-.482-1.31-.93-2.433-.93-1.09 0-1.83.466-2.3.982zm7.389-.052h4.468l.036.004a5.2 5.2 0 01.537.082 2.351 2.351 0 00-.222-.233c-.447-.41-1.18-.783-2.254-.783-1.078 0-1.75.273-2.18.584a2.396 2.396 0 00-.385.346zm5.8-1.282c-.726-.652-1.812-1.148-3.235-1.148-1.347 0-2.338.347-3.06.868-.342.247-.61.525-.821.802-.736-.861-2.005-1.67-3.774-1.67-1.629 0-2.733.712-3.434 1.503V6.055h14.324v3.603zM3.703 16.27h16.594v-1.673c0-.703-.355-1.188-.888-1.545-.56-.374-1.263-.561-1.74-.613H6.724c-1.118 0-1.81.317-2.237.678-.57.482-.765 1.123-.783 1.496v1.657z"></path></svg></span>Rideaux occultants</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path d="M10.986 13.5v2.38L6.84 20.024l1.06 1.061 3.085-3.084v3.804h1.5v-3.698l2.977 2.978 1.06-1.06-4.037-4.039V13.5h3.19l4.098 4.099 1.06-1.061-3.037-3.038h4.008V12h-3.994l3.024-3.024-1.06-1.06L15.69 12h-3.204V9.087l4.038-4.038-1.06-1.06-2.978 2.976v-4.77h-1.5v4.878L7.902 3.988 6.84 5.048l4.145 4.146V12H8.01L3.926 7.916l-1.06 1.06L5.889 12H2.195v1.5h3.709l-3.038 3.038 1.06 1.06L8.025 13.5h2.96z"></path></svg></span>Climatisation</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.242 6.393c-.44.546-.633 1.226-.633 1.71v10.27h10.6c.02-3.03.044-8.347-.006-10.25-.045-1.708-1.284-2.66-2.335-2.66H9.301c-.989 0-1.64.41-2.06.93zM6.074 5.45c.686-.85 1.756-1.488 3.227-1.488h5.567c1.92 0 3.77 1.656 3.834 4.12.055 2.103.023 8.248 0 11.045l-.006.744H5.11V8.103c0-.811.3-1.827.965-2.652z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.08 19.163V4.27h1.5v14.892h-1.5zM14.119 19.163v-6.117h1.5v6.117h-1.5zM8.119 19.163v-6.117h1.5v6.117h-1.5z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.673 13.796H4.169v-1.5h15.504v1.5zM19.673 19.913H4.169v-1.5h15.504v1.5z"></path></svg></span>Balcon privé</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.578 4.891L16.25 2.22l1.06 1.06-2.671 2.672c-.679.679-1.055 1.462-1.12 2.199-.043.5.054 1.003.327 1.472L18.75 4.72l1.06 1.06-4.906 4.906c.473.281.974.387 1.466.354.718-.047 1.467-.394 2.096-1.023A869.223 869.223 0 0021.02 7.45l.226-.228h.001l1.066 1.055-.227.23a983.524 983.524 0 01-2.56 2.57c-.849.849-1.927 1.384-3.057 1.459a4.026 4.026 0 01-2.647-.768L12.591 13l7.72 7.72-1.061 1.06-5.97-5.97-3 3-1.75-1.75-4.72 4.72-1.06-1.06L7.47 16 3.077 11.61a4.75 4.75 0 010-6.718l.702-.702 7.75 7.75 1.232-1.232a3.971 3.971 0 01-.737-2.686c.1-1.147.67-2.246 1.553-3.13zm-1.359 9.86L3.808 6.338a3.25 3.25 0 00.33 4.21l6.142 6.14 1.94-1.939z"></path></svg></span>Minibar</li> 
                                                </div> 
                                                <div class="col-6">
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.252 5.405c0-.47.38-.85.85-.85h15.624c.47 0 .85.38.85.85v6.649c.68.562 1.22 1.393 1.22 2.544v4.847h-1.5V17.77H3.704v1.674h-1.5V14.57c.025-.654.304-1.588 1.05-2.35V5.404zm2.635 5.587a6.6 6.6 0 01.836-.052h3.896c-.502-.482-1.31-.93-2.433-.93-1.09 0-1.83.466-2.3.982zm7.389-.052h4.468l.036.004a5.2 5.2 0 01.537.082 2.351 2.351 0 00-.222-.233c-.447-.41-1.18-.783-2.254-.783-1.078 0-1.75.273-2.18.584a2.396 2.396 0 00-.385.346zm5.8-1.282c-.726-.652-1.812-1.148-3.235-1.148-1.347 0-2.338.347-3.06.868-.342.247-.61.525-.821.802-.736-.861-2.005-1.67-3.774-1.67-1.629 0-2.733.712-3.434 1.503V6.055h14.324v3.603zM3.703 16.27h16.594v-1.673c0-.703-.355-1.188-.888-1.545-.56-.374-1.263-.561-1.74-.613H6.724c-1.118 0-1.81.317-2.237.678-.57.482-.765 1.123-.783 1.496v1.657z"></path></svg></span>Peignoirs</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.252 5.405c0-.47.38-.85.85-.85h15.624c.47 0 .85.38.85.85v6.649c.68.562 1.22 1.393 1.22 2.544v4.847h-1.5V17.77H3.704v1.674h-1.5V14.57c.025-.654.304-1.588 1.05-2.35V5.404zm2.635 5.587a6.6 6.6 0 01.836-.052h3.896c-.502-.482-1.31-.93-2.433-.93-1.09 0-1.83.466-2.3.982zm7.389-.052h4.468l.036.004a5.2 5.2 0 01.537.082 2.351 2.351 0 00-.222-.233c-.447-.41-1.18-.783-2.254-.783-1.078 0-1.75.273-2.18.584a2.396 2.396 0 00-.385.346zm5.8-1.282c-.726-.652-1.812-1.148-3.235-1.148-1.347 0-2.338.347-3.06.868-.342.247-.61.525-.821.802-.736-.861-2.005-1.67-3.774-1.67-1.629 0-2.733.712-3.434 1.503V6.055h14.324v3.603zM3.703 16.27h16.594v-1.673c0-.703-.355-1.188-.888-1.545-.56-.374-1.263-.561-1.74-.613H6.724c-1.118 0-1.81.317-2.237.678-.57.482-.765 1.123-.783 1.496v1.657z"></path></svg></span>Chambres communicantes disponibles</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.252 5.405c0-.47.38-.85.85-.85h15.624c.47 0 .85.38.85.85v6.649c.68.562 1.22 1.393 1.22 2.544v4.847h-1.5V17.77H3.704v1.674h-1.5V14.57c.025-.654.304-1.588 1.05-2.35V5.404zm2.635 5.587a6.6 6.6 0 01.836-.052h3.896c-.502-.482-1.31-.93-2.433-.93-1.09 0-1.83.466-2.3.982zm7.389-.052h4.468l.036.004a5.2 5.2 0 01.537.082 2.351 2.351 0 00-.222-.233c-.447-.41-1.18-.783-2.254-.783-1.078 0-1.75.273-2.18.584a2.396 2.396 0 00-.385.346zm5.8-1.282c-.726-.652-1.812-1.148-3.235-1.148-1.347 0-2.338.347-3.06.868-.342.247-.61.525-.821.802-.736-.861-2.005-1.67-3.774-1.67-1.629 0-2.733.712-3.434 1.503V6.055h14.324v3.603zM3.703 16.27h16.594v-1.673c0-.703-.355-1.188-.888-1.545-.56-.374-1.263-.561-1.74-.613H6.724c-1.118 0-1.81.317-2.237.678-.57.482-.765 1.123-.783 1.496v1.657z"></path></svg></span>Coffre-fort</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.53 7.53L9 18.06l-5.53-5.53 1.06-1.06L9 15.94l9.47-9.47 1.06 1.06z"></path></svg></span>Baignoire/douche</li>  
                                                </div>
                                            </ul>
                                        </div> 
                                    </div>
                                    <div>
                                        <p class="fw-bold" style="font-family:GraphikBold">Types de chambre</p>
                                        <div>
                                            <ul class="row list-unstyled">
                                                <div class="col-6">
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.005 3.893l9.844 16.214H2.15l4.535-7.141 5.319-9.073zM7.94 13.79l-3.06 4.818h14.302l-2.564-4.224-.072.06c-.436.348-1.099.664-2.031.664-.549 0-1.02-.185-1.42-.408a9.386 9.386 0 01-.945-.634l-.139-.102c-.686-.499-1.26-.856-1.996-.856-.868 0-1.408.215-1.713.395a1.65 1.65 0 00-.362.287zm7.875-.728l-3.789-6.24-2.837 4.84c.253-.034.528-.054.826-.054 1.265 0 2.19.642 2.879 1.143l.154.113c.294.215.534.39.778.526.272.152.488.218.689.218.568 0 .905-.184 1.094-.336.1-.08.166-.156.204-.208l.002-.002z"></path></svg></span>Vue sur la montagne</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.127 14.266v1.5H15.98v-1.5H3.127zm-.5-1.5a1 1 0 00-1 1v2.5a1 1 0 001 1H17.48v-4.5H2.627zM20.873 14.266h-.853v1.5h.853v-1.5zm-2.353-1.5v4.5h2.853a1 1 0 001-1v-2.5a1 1 0 00-1-1H18.52zM19.203 10.983v.186h-1.5v-.103c0-.573 0-.755-.035-.918-.032-.153-.099-.301-.372-.823a5.358 5.358 0 00-.374-.581l-.085-.12a13.602 13.602 0 01-.424-.618c-.346-.545-.683-1.235-.683-2.098 0-.86.328-1.536.672-2.08.136-.213.284-.422.417-.608l.09-.126c.16-.226.29-.418.388-.605l1.326.702a7.102 7.102 0 01-.49.77l-.103.145c-.13.183-.25.35-.361.526-.273.43-.439.821-.439 1.276 0 .453.172.856.45 1.296.115.18.237.352.369.537l.096.135c.162.228.338.483.48.753l.005.01c.244.466.422.805.505 1.195.07.329.07.686.068 1.15z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M22.17 10.983l-.001.186h-1.5v-.103c0-.573 0-.755-.035-.918-.032-.153-.1-.301-.372-.823a5.328 5.328 0 00-.375-.581l-.084-.12c-.134-.186-.285-.398-.424-.618-.346-.545-.683-1.235-.683-2.098 0-.86.327-1.536.672-2.08.135-.213.284-.422.417-.608l.09-.126c.16-.226.29-.418.388-.605l1.326.702a7.102 7.102 0 01-.49.77l-.104.145c-.13.183-.249.35-.36.526-.273.43-.439.821-.439 1.276 0 .453.171.856.45 1.296.115.18.237.352.369.537l.096.135c.161.228.338.483.479.753l.006.01c.244.466.421.805.505 1.195.07.329.07.686.068 1.15zM15.884 21.51L2.288 7.915l1.06-1.06L16.945 20.45l-1.06 1.06z"></path></svg></span>Chambres non-fumeurs</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.252 5.405c0-.47.38-.85.85-.85h15.624c.47 0 .85.38.85.85v6.649c.68.562 1.22 1.393 1.22 2.544v4.847h-1.5V17.77H3.704v1.674h-1.5V14.57c.025-.654.304-1.588 1.05-2.35V5.404zm2.635 5.587a6.6 6.6 0 01.836-.052h3.896c-.502-.482-1.31-.93-2.433-.93-1.09 0-1.83.466-2.3.982zm7.389-.052h4.468l.036.004a5.2 5.2 0 01.537.082 2.351 2.351 0 00-.222-.233c-.447-.41-1.18-.783-2.254-.783-1.078 0-1.75.273-2.18.584a2.396 2.396 0 00-.385.346zm5.8-1.282c-.726-.652-1.812-1.148-3.235-1.148-1.347 0-2.338.347-3.06.868-.342.247-.61.525-.821.802-.736-.861-2.005-1.67-3.774-1.67-1.629 0-2.733.712-3.434 1.503V6.055h14.324v3.603zM3.703 16.27h16.594v-1.673c0-.703-.355-1.188-.888-1.545-.56-.374-1.263-.561-1.74-.613H6.724c-1.118 0-1.81.317-2.237.678-.57.482-.765 1.123-.783 1.496v1.657z"></path></svg></span>Chambres familiales</li>  
                                                </div> 
                                                <div class="col-6">
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.005 3.893l9.844 16.214H2.15l4.535-7.141 5.319-9.073zM7.94 13.79l-3.06 4.818h14.302l-2.564-4.224-.072.06c-.436.348-1.099.664-2.031.664-.549 0-1.02-.185-1.42-.408a9.386 9.386 0 01-.945-.634l-.139-.102c-.686-.499-1.26-.856-1.996-.856-.868 0-1.408.215-1.713.395a1.65 1.65 0 00-.362.287zm7.875-.728l-3.789-6.24-2.837 4.84c.253-.034.528-.054.826-.054 1.265 0 2.19.642 2.879 1.143l.154.113c.294.215.534.39.778.526.272.152.488.218.689.218.568 0 .905-.184 1.094-.336.1-.08.166-.156.204-.208l.002-.002z"></path></svg></span>Vue sur un monument</li> 
                                                    <li><span style="margin-right: 8px;font-size: 18px;"><svg viewBox="0 0 24 24" width="1em" height="1em" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.252 5.405c0-.47.38-.85.85-.85h15.624c.47 0 .85.38.85.85v6.649c.68.562 1.22 1.393 1.22 2.544v4.847h-1.5V17.77H3.704v1.674h-1.5V14.57c.025-.654.304-1.588 1.05-2.35V5.404zm2.635 5.587a6.6 6.6 0 01.836-.052h3.896c-.502-.482-1.31-.93-2.433-.93-1.09 0-1.83.466-2.3.982zm7.389-.052h4.468l.036.004a5.2 5.2 0 01.537.082 2.351 2.351 0 00-.222-.233c-.447-.41-1.18-.783-2.254-.783-1.078 0-1.75.273-2.18.584a2.396 2.396 0 00-.385.346zm5.8-1.282c-.726-.652-1.812-1.148-3.235-1.148-1.347 0-2.338.347-3.06.868-.342.247-.61.525-.821.802-.736-.861-2.005-1.67-3.774-1.67-1.629 0-2.733.712-3.434 1.503V6.055h14.324v3.603zM3.703 16.27h16.594v-1.673c0-.703-.355-1.188-.888-1.545-.56-.374-1.263-.561-1.74-.613H6.724c-1.118 0-1.81.317-2.237.678-.57.482-.765 1.123-.783 1.496v1.657z"></path></svg></span>Suites</li>  
                                                </div>
                                            </ul>
                                        </div> 
                                    </div>
                                    <div>
                                        <p class="fw-bold" style="font-family:GraphikBold">Bon à savoir</p>
                                        <div class="row"> 
                                            <div class="col-6"> 
                                                <p class="mb-4" style="line-height:16px;font-size:12px">
                                                    <span><b>CATÉGORIE D'HÔTEL</b></span><br>
                                                    <span class="S2"><svg class="JXZuC d H0" viewBox="0 0 120 24" width="80" height="16" aria-labelledby=":lithium-R15l9l95f9v5q:"><title id=":lithium-R15l9l95f9v5q:">4,0 5 étoiles</title><path d="M23.37 8.518l-6.587-1.68a1.716 1.716 0 01-.479-.36L12.712.357C12.478.121 12.235.005 12 0c-.235.005-.478.121-.712.356L7.696 6.478c-.121.12-.24.238-.479.36L.63 8.518c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96zm24 0l-6.587-1.68a1.716 1.716 0 01-.479-.36L36.712.357C36.478.121 36.235.005 36 0c-.235.005-.478.121-.712.356l-3.592 6.122c-.121.12-.24.238-.479.36l-6.587 1.68c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96zm24 0l-6.587-1.68a1.716 1.716 0 01-.479-.36L60.712.357C60.478.121 60.235.005 60 0c-.235.005-.478.121-.712.356l-3.592 6.122c-.121.12-.24.238-.479.36l-6.587 1.68c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96zm24 0l-6.587-1.68a1.716 1.716 0 01-.479-.36L84.712.357C84.478.121 84.235.005 84 0c-.235.005-.478.121-.712.356l-3.592 6.122c-.121.12-.24.238-.479.36l-6.587 1.68c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96zm24 0l-6.587-1.68a1.716 1.716 0 01-.479-.36L108.712.357C108.478.121 108.235.005 108 0c-.235.005-.478.121-.712.356l-3.592 6.122c-.121.12-.24.238-.479.36l-6.587 1.68c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96z"></path><path class="xHhmW" d="M23.37 8.518l-6.587-1.68a1.716 1.716 0 01-.479-.36L12.712.357C12.478.121 12.235.005 12 0c-.235.005-.478.121-.712.356L7.696 6.478c-.121.12-.24.238-.479.36L.63 8.518c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96zm24 0l-6.587-1.68a1.716 1.716 0 01-.479-.36L36.712.357C36.478.121 36.235.005 36 0c-.235.005-.478.121-.712.356l-3.592 6.122c-.121.12-.24.238-.479.36l-6.587 1.68c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96zm24 0l-6.587-1.68a1.716 1.716 0 01-.479-.36L60.712.357C60.478.121 60.235.005 60 0c-.235.005-.478.121-.712.356l-3.592 6.122c-.121.12-.24.238-.479.36l-6.587 1.68c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96zm24 0l-6.587-1.68a1.716 1.716 0 01-.479-.36L84.712.357C84.478.121 84.235.005 84 0c-.235.005-.478.121-.712.356l-3.592 6.122c-.121.12-.24.238-.479.36l-6.587 1.68c-.479.12-.719.601-.6.96 0 .12.121.239.121.239l4.429 5.521c.121.239.241.481.241.601l-.479 7.32c0 .484.36.841.719.841.121 0 .24 0 .36-.119l6.229-2.642c.114 0 .232-.112.351-.117.118.005.236.117.351.117l6.229 2.642c.118.119.237.119.358.119.359 0 .719-.357.719-.841l-.479-7.32c0-.119.12-.361.241-.601l4.429-5.521s.121-.119.121-.239c.12-.36-.121-.84-.6-.96z"></path></svg></span>
                                                </p> 
                                                <p style="line-height:16px;font-size:12px">
                                                    <span><b>STYLE D'HÔTEL</b></span><br>
                                                    <span>Vue sur la montagne</span>
                                                </p> 
                                            </div> 
                                            <div class="col-6"> 
                                                <p style="line-height:16px;font-size:12px">
                                                    <span><b>LANGUES PARLÉES</b></span><br>
                                                    <span>Français, Anglais, Italien</span>
                                                </p> 
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                        <div class="container shadow-sm p-4 pt-2 mb-5 rounded-3">  
                            <br> 
                            <h5 class="mx-5">Réservation d'une chambre</h5>  
                            
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                                <div class="col  m-0 flex-column align-items-start gap-2"> 
                                    <input onChange="calculateTotal()" onmouseleave="calculateTotal()" style="text-align:center" class="text-secondary" type="text" id="date-range" placeholder="Sélectionnez une plage de dates">
                                </div>
                                <div class="col  m-0 d-flex align-items-center justify-content-center  gap-2"> 
                                    <label for="people">Occupant(s) :</label>
                                    <input onChange="calculateTotal()" class="form-control w-25" type="number" id="people" name="people" min="1" value="1">
                                </div>
                                <div class="col  m-0 d-flex  flex-row align-items-center gap-2"> 
                                    <label for="paymentOption">Option de paiement :</label>
                                    <select onChange="calculateTotal()" class="form-select w-50" id="paymentOption" name="paymentOption">
                                        <option value="Payer au total">Payer au total</option>
                                        <option value="Payer une avance">Payer une avance</option>
                                    </select>
                                </div>                                 
                                <div class="col  m-0  d-flex flex-row align-items-center"> 
                                    <form action="{{path('app_checkout')}}" method="POST"> 
                                        <input type="hidden" name="totalPrice" id="totalPriceInput">
                                        <input type="hidden" name="selectLabel" id="selectLabelInput">
                                        <input type="hidden" name="paymentLabel" id="paymentLabelInput">
                                        <button disabled type="submit" id="verify-btn" class="btn btn-primary">Payer</button> 
                                    </form> 
                                </div>
                            </div>
                             
                            <script> 
                            var differenceDays;
                            var verifyBtn = document.getElementById('verify-btn');
                            flatpickr("#date-range", {
                                mode: "range", // Activer le mode plage de dates
                                dateFormat: "d/m/Y", // Format de date (jour/mois/année)
                                locale: "fr", // Utiliser la traduction française
                                onChange: function(selectedDates, dateStr, instance) {
                                    if(selectedDates.length === 2) { 
                                        var startDate = selectedDates[0];
                                        var endDate = selectedDates[1]; 
                                        var differenceMs = Math.abs(endDate - startDate); 
                                        differenceDays = Math.ceil(differenceMs / (1000 * 60 * 60 * 24));  
                                         
                                        verifyBtn.removeAttribute('disabled');

                                    }else{      
                                        verifyBtn.setAttribute('disabled', 'disabled');
                                    }
                                }
                            });
                            function calculateTotal() {
                                var duration = differenceDays; 
                                var people = parseInt(document.getElementById("people").value); 
                                var paymentOption = document.getElementById("paymentOption").value; 
                                 


                                var basePrice = 50 * duration;  
                                var peoplePrice = (people - 1) * basePrice;   
                                
                                var totalPrice = 0;
                                
                                if (paymentOption === "Payer au total") {
                                    totalPrice = basePrice + peoplePrice;
                                } else if (paymentOption === "Payer une avance") {
                                    // Si l'utilisateur choisit de payer une avance, le prix total est réduit de 50%
                                    totalPrice = (basePrice + peoplePrice) * 0.5; 
                    
                                }  
 

                                document.getElementById("totalPriceInput").value = totalPrice; 
                                document.getElementById("selectLabelInput").value = paymentOption;  
                                document.getElementById("paymentLabelInput").value = people + " personne(s) pour " + duration + " jours"; 
                            } 
                            document.getElementById("calculate-button").addEventListener("click", calculateTotal);
                            </script>
                        </div>         
                            

                    </div>
                    <!--/Main Content --> 

                    
                </div> 
                {% include 'layouts/footer.html.twig' %} 
                <!--/Main -->  
        
        	</div>
            <!--/Content Scroll -->
            
             
            
		</div>    
        <!--/Page Content -->
    
		</div>
	</main>
    
    <div class="cd-cover-layer"></div>
    <div id="magic-cursor" class="light-content">
        <div id="ball">
        	<div id="hold-event"></div>
        	<div id="ball-loader"></div>
        </div>
    </div>
    <div id="clone-image"></div> 
{% endblock %}
{% block script %}
    
{% endblock %}